.content__wrap{
    width: 100%;
    /* height: 1250px; */
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1,4353;
    background-color: #fcf8e3;
    display: block;
    /* position: relative; */
}
 .container{
   width: 80%;
   margin: 0 10%;
   /* margin-top: 60px; */
   display: inline-block;
   position: relative;
}
.content__left{
    margin-top: 12%;
    width: 48%;
    /* background-color: #ea8025; */
    display: inline-block;
    /* position: relative; */
}
.content__left img{
    width: 42%;
    /* background-color: #ea8025; */
    margin-left: -70px;
    margin-top: 10px;
}
.content__left h1{
    font-size: 29px;
    line-height: 1.3;
}
.content__left__sale {
    margin-top: 20px;
    display: block;
    width: 100%;
    font-size: 15px;
}
.content__left__sale p{
    margin-top: 20px;
    display: block;
    /* width: 100%; */
    margin-left: 10px;
    margin-right: 10px;
}
.content__right{
    margin-top: 11%;
    width: 50%;
    /* background-color: aqua; */
    display: block;
    float: right;
    position: relative;
    
}
.content__right img{
    width: 91%;
    /* background-color: aqua; */
    display: block;
    margin-left: 12px;
    border-radius: 5px;
}
.content__right_img img{
    width: 20%;
    /* background-color: aqua; */
    display: block;
    margin-left: 12px;
    border-radius: 5px;
    margin-left: 520px;
    margin-top: -50px;
    position: absolute;
}
.Note1{
    width:700px; height: 60px; display: inline-block;
}
/* .Note1 :hover >a{
    color: #ea8025;
} */
.Note{
    text-align: center;background-color:white; margin-left: 10px; width:280px ;height: 40px; padding: 10px; border-radius: 5px; margin-top: 20px;
}
/* .IMG {
    width: 33%;
    position: relative;
    top :0;
    right: 0;
}
.IMG img{
    position: fixed;
    top: 0;
    right: 0;
 } */