/* container menu */
.menu__Container{
    width: 80%;
    height: 14870px;
    margin: 100px 10% 0;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 360px;
    z-index: 20;
}

.menu__Sidebar{
    width: 25%;
    margin: calc(60px + 2.5%) 0 2.5%;
    position: sticky;
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 10;
}

.menu__listItems{
    list-style-type: none;
    padding-left: 50px;
}

.menu__listItems{
    padding: 2px 0;
    position: relative;
}

.menu__listItems li{
    line-height: 28px;
    cursor: pointer;
}

.menu__listItems .menu__items{
    text-decoration: none;
    color: #00000099;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    /* cursor: pointer; */
}

/* .menu__listItems li.menu__Items-original a{
    color: #EA8025;
} */

.menu__listItems .menu__item-glow{
    color: #EA8025;
}

.menu__listItems li:hover .menu__items{
    color: #EA8025;
}

.menu__subnav-items:hover a{
    color: #EA8025;
}

.menu__dotCoffee{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    visibility: hidden;
}

.menu__dotCoffee.dotCoffee__original{
    visibility: visible;
}

.menu__dotCoffee img{
    width: 100%;
    height: 100%;
    color: #EA8025;
}

.menu__subnav{
    padding-left: 50px;
    list-style-type: disc;
}

.menu__subnav a{
    font-size: 14px;
    color: #00000099;
    text-decoration: none;
    font-weight: 600;
}

.menu__content{
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid #ccc;
}

.menuContent__wrap{
    width: 95%;
    height: 100%;
    margin-left: 5%;
}
/* menu content */
.menu__promote{
    width: 100%;
    height: 350px;
}

.menu__promote img{
    width: 100%;
    height: 100%;
}

.menu__listItems-wrap{
    width: 100%;
}

/* items hot */
.itemsHot__wrap{
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}

.title__itemTea{
    margin: 25px 0;
    margin-left: 8px;
    font-size: 24px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}

.itemsHot__list{
    width: 100%;
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.itemsHot__list li{
    margin-bottom: 30px;
    padding: 0 14px;
}

.itemsHot__list a{
    text-decoration: none;
}

.itemHot__imgWrap{
    width: 260px;
    height: 260px;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px #00000040;
    overflow: hidden;
}

.itemHot__imgWrap img{
    width: 100%;
    height: 100%;
}

.itemHot__content{
    width: 260px;
    margin-top: 10px;
}

.itemHot__title{
    font-size: 17px;
    color: #191919;
}

.itemHot__value{
    color: #00000099;
    padding-top: 5px;
}