.content__wrap{
    width: 100%;
    /* background-color: #666; */
    display: inline-block;
    

}
 .container{
    width: 80%;
    margin: 0 10%;
    /* background-color: #ea8025; */
    display: flex;
    /* height: 1000px; */
    margin-bottom: 20px;

} 
.sidebar__page{
    width: 25%;
    display: inline-block;
    
}
.sidebar__page1{
    width: 80%;
    height: 100%;
    /* margin: 20px 20px 20px 50px; */
    display: block;
    /* background-color: azure; */
    margin-left: 30px;
    border-right: 2px solid black;

}
 .sidebar__page1 a {
    /* display: inline; */
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    line-height: 15px;
    font-family: 'SF Pro Text', sans-serif; 
    text-decoration: none;
    list-style-type: none;
    font-weight: 10px;
    
}
#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /* text-decoration: none; */
}
#navbar li :hover  {
    color: #ea8025;
}
.Now a{
    color: #ea8025;
}
.list_img :hover .Map   {
    background-color: whitesmoke;
}

#navbar li{
    margin-top: 20px;
}

ul{
    list-style-type: none;
}

.poster img{
    margin: 60px 0px 50px 0px;
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, 0.4);

}
.content__right{
    width: 100%;
    /* background-color: aqua; */
    display: inline-block;
    margin-left: 50px;

}
.content__right p{
    font-size: 20px;
    font-weight: 600px;
    font-family: 'SF Pro Display', sans-serif;
}
.content__right h5{
    font-size: 14px;
    font-weight: 100;
    height: 30px;
    color:#333;
    margin-bottom: 10px;
    font-family: 'SF Pro Display', sans-serif;
    /* margin-bottom: 20px;
    margin-top: 20px; */
}
.select__option{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: 1px solid;
    border-radius: 6px;
    padding: 4px;
}
.list_img{
    width: 100%;
    margin-top: 20px;
    display: flex;
    border-radius: 4px;
}
.list_img_left{
    width: 45%;
    height: 100%;
}
.list_img_left img{
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    border-radius: 8px;

}
.list_img_right{
    margin-left: 30px;
    width: 45%;
    height: 280px;
}
.list_img_right img{
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* float: left; */
    /* margin-bottom: 15px; */
    /* margin-bottom: 10px;
    margin-top: 5px; */

}
.Map{
    margin-top: 20px;
    width: 420px;
    height: 35px;
    background-color: 	#FFEFD5;
    text-align: center;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid  rgb(233, 233, 170);
}

.Map:hover{
    background: #fff;
}

.list_img_left li{
    font-size: 16px;
    font-weight: 650;
}
.list_img_right li{
    font-size: 16px;
    font-weight: 650;
}
 /* .chosen{
     padding: 10px;
    width: 100%;
    height: 30px;
    border: #ea8025;
}  */
