.content__warp{
    margin-top: 60px;
    width: 100%;
    display: inline-block;
}
/* content1 */
.content1{
    width: 100%;
    height: 500px;
    background-color: black;
    display: inline;
    /* margin: 0 10%; */
}
.list{
    margin-left: 28%;
    /* padding: 10px; */
}
.list span a{
    margin-left: 20px;
    /* margin-right: 20px ; */
    /* background: #fff7e6; */
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    line-height: 40px;
    text-decoration: none;
    list-style-type: none;
}
.list >.New a{
    color: #e57905;
    background: #fff7e6;
}
.list span:hover a{
    color: #e57905;
} 
.content1 h3 {
    margin-top: 20px;
    width: 300px;
    height: 60px;
    margin-left: 600px ;
    font-size: 24px;
}
.content1 p  {
    height: 60px;
    margin-left: 440px;
    margin-right: 520px; 
    margin-bottom: 20px;
    font-family:Calibri,sans-serif;
    line-height: 2;
    font-size: 14px;
    display: block;
    text-align: center;
    
}
/* content2 */
.content2{
    width: 80%;
    margin: 0 8%;
    /* margin-left: 30px; */
    display: inline-flex;
    margin-bottom: 60px;
}
.content2 :hover a{
    color: #e57905;
    transition: all 0.5s ease;
}
.content2__left{
    margin-top: 50px;
    margin-left: 4%;
}

.content2__left img{
    width: 100%;
    /* margin-right: 20px; */
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
}
.content2__left a{
    text-decoration: none;
    color: #191919;
    font-size: 17px;
    line-height: 1,4;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.content2__left h5{
    color: rgb(187, 176, 176);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content2__left p{
    font-family: 'SF Pro Text', sans-serif;
    line-height: 2;
    font-size: 14px;
    color: #333;
    margin-right: 60px;
}


/* conntent2__right */
.content2__right{
    width: 47%;
    display: inline;
    margin-left: 25px;

}
.content2__right a{
    text-decoration: none;
    color: #191919;
    font-size: 17px;
    font-weight: 600;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    line-height: 1,4;

} 
.content2__right p{
    font-family: 'SF Pro Text', sans-serif;
    line-height: 2;
    font-size: 14px;
    color: #333;
    margin-right: 7px;
}
.content2__right h5{
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content2__right img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    margin: 50px 30px 0px 0px;
}
/* content3 */
.content3{
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
     /* height: 1000px; */
     background: #fff7e6;
}
.content3__left{

    width: 47%;
    height: 100%;
}
.content3__left img{
    margin-top: -40px;
    width :100%;
    height: 30%;
}
/* right */
.content3__right{
    width: 65%;
    /* height: 100%; */
    display: inline-block;
    /* background-color: #111; */
}
/* H4 */
.content3__right h4{
    border-left: 5px solid rgb(230, 119, 15);
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px;
    margin-left: 30px;

}
.content3__right__warp{
    width: 100%;
    display:flex;
}
.content3__right img{
    width: 270px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    height: 160px;
}
.content3__right a{
    float: left;
    text-decoration: none;
    color: #191919;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 120px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    position: relative;
    line-height: 1.5;
    margin-bottom: 10px;

} 
.content3__right__warp :hover a{
    color: #e57905;
    transition: all 0.5s ease;
} 
.content3__right h5{
    color:  rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.content3__right__warp1{
    width: 60%;
    display: inline-block;
}
.sreach > a{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    width: 280px;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    margin: 0px 0px 0px 250px;
}
.Note{
    color: #191919;
}
.Note :hover a{
    color: #e57905;
}
.content4{
    margin-top: -30px;
    width: 100%;
    display: inline-flex;
     /* height: 1000px; */
     /* background: #6d5727; */
}
.content4__left{
    width: 60%;
    margin-left: 130px;
    display: inline-block;
}
.content4__left h4{
    border-left: 5px solid rgb(230, 119, 15);
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px;
    margin-left: 40px;
    margin-bottom: 20px;

}
.content4__left__warp{
    width: 99%;
    display:flex;
}
.content4__left__warp1{
    width: 55%;
    display: inline-block;
}
.content4__left img{
    width: 270px;
    margin-left: 40px;
    border: 1px solid white;
    border-radius: 10px;
    height: 160px;
    margin-bottom: 30px;
}
.content4__left a{
    float: left;
    text-decoration: none;
    color: #191919;
    font-size: 17px;
    font-weight: 600;
    /* margin-top: 20px; */
    margin-left: 20px;
    /* margin-right: 35px; */
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    position: relative;
    line-height: 1.5;
    margin-bottom: 10px;

}
.content4__left h5{
    color:  rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.content4__right {
    width: 51%;
    display: inline-block;
}
.content4__right img{
    width: 100%;
    /* width: 530px; */
    margin-top: 150px;

    height: 430px;
    /* margin-left: -22px; */
}
/**/
.sreach > a{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.15);
    width: 280px;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600px;
    padding: 9px;
    margin: 20px 0px 90px 240px;
}
.content4__left__warp :hover a{
    color: #e57905;
    transition: all 0.5s ease;
} 
.content5{
    width: 100%;
    display: inline-flex;
     /* height: 1000px; */
     background: #fff7e6;
     /* margin-top: 20px; */
}
.content5__left{
    width: 42%;
    height: 100%;
}
.content5__left img{
    margin-top: -40px;
    width :100%;
    height: 30%;
}
.content5__right{
    width: 60%;
    /* height: 100%; */
    display: inline-block;
    /* background-color: #111; */
}
/* H4 */
.content5__right h4{
    border-left: 5px solid rgb(230, 119, 15);
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px;
    margin-left: 40px;

}
 .content5__right__warp{
    width: 100%;
    display:flex;
}
.content5__right img{
    width: 270px;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    height: 160px;
}
 .content5__right a{ 
    text-decoration: none;
    color: #191919;
    font-size: 17px;
    font-weight: 600;
    /* margin-top: 20px; */
    margin-left: 30px;
    margin-right: 40px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    position: relative;
    line-height: 1.5;
    margin-bottom: 10px;
    float: left;

}  
.content5__right__warp :hover a{
    color: #e57905;
    transition: all 0.5s ease;
} 
.content5__right h5{
    color:  rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.content5__right__warp1{
    margin-top: 20px;
    width: 60%;
    display:inline-block;
}  
.sreach2 > a{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    width: 280px;
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    margin: 20px 0px 40px 220px;
}