/* responsive */

/* pc :V */
@media screen and (min-width: 1025px) {
    .header__menu-mobile{
        display: none;
    }

    .header__nav-close-mobile{
        display: none;
    }

    .headerNav{
        display: block !important;
    }
}

/* tablet  */
@media screen and (max-width: 1024px) and (min-width: 740px) {
    .poster{
        height: 400px !important;
        margin-top: 60px;
    }

    .itemsHot__list {
        width: 90%;
        margin: 30px 5%;
        justify-content: space-around;
    }

    .itemsHot__list li {
        padding: 0;
    }

    .itemHot__imgWrap {
        width: 250px;
        height: 250px;
    }

    .itemHot__content {
        width: 250px;
        position: relative;
    }

    .itemHot__title {
        font-size: 20px;
        width: 75%;
    }

    .itemHot__value{
        font-size: 18px;
        width: 75%;
    }

    .itemHot__cart {
        position: absolute;
        bottom: 10px;
        right: 5px;
    }

    /* content */
    .menu__Container {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .menu__Sidebar {
        width: 100%;
        position: relative;
        height: fit-content;
    }
    
    .menu__subnav {
        display: none;
    }

    .menu__listItems {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: space-around;
        align-items: center;
    }

    li.menu__itemsBlock {
        background: #f1f5f8;
        border: 1px solid #ea8025;
        margin: 5px 25px;
        min-width: 185px;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .menu__listItems .menu__items {
        align-items: center;
    }

    .menu__dotCoffee {
        margin-bottom: 5px;
    }

    /* content */
    .menu__content {
        margin-top: 65px;
        border-left: none;
        width: 100%;
    }

    .menuContent__wrap {
        width: 100%;
        margin-left: 0;
    }

    .menu__promote {
        height: 400px;
    }

    .itemHot__cart i {
        font-size: 35px;
        color: #EA8025;
    }
}

/* mobile */
@media screen and (max-width: 739px) {
    .poster{
        height: 200px !important;
        margin-top: 60px;
    }

    .itemsHot__list {
        width: 90%;
        margin: 30px 5%;
        justify-content: space-around;
    }
    
    .itemsHot__list li {
        padding: 0;
    }

    .itemHot__imgWrap {
        width: 150px;
        height: 150px;
    }

    .itemHot__content {
        width: 150px;
        position: relative;
    }

    .itemHot__title {
        font-size: 14px;
        width: 75%;
    }

    .itemHot__value{
        font-size: 12px;
        width: 75%;
    }

    .itemHot__cart {
        position: absolute;
        bottom: 10px;
        right: 5px;
    }

    /* content */
    .menu__Container {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .menu__Sidebar {
        width: 100%;
        position: relative;
        height: fit-content;
    }
    
    .menu__subnav {
        display: none;
    }

    .menu__listItems {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: space-around;
        align-items: center;
    }

    li.menu__itemsBlock {
        background: #f1f5f8;
        border: 1px solid #ea8025;
        margin: 5px 10px;
        min-width: 125px;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .menu__listItems .menu__items {
        align-items: center;
    }

    .menu__dotCoffee {
        margin-bottom: 5px;
    }

    /* content */
    .menu__content {
        margin-top: 65px;
        border-left: none;
        width: 100%;
    }

    .menuContent__wrap {
        width: 100%;
        margin-left: 0;
    }

    .menu__promote {
        height: 250px;
    }

}