p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* frm admin */
.content__title {
    margin-bottom: 0;
}

th {
    text-align: center;
}

input {
    font-size: revert;
}

textarea {
    resize: none;
    min-height: 150px;
    padding: 5px 10px;
    font-size: 16px;
}